body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/brskyline.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    color: #f2f2f2;
  }

  .topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav b{
    float: left;
    color: #b8b3b3;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .about {
    color: black;
    margin-top: 600px;
    margin-bottom: 50px;
  }

  .about h1 {
    color: rgb(41, 12, 209);
    font-size: 40px;
    text-align: center;
  }

  .about p {
    font-size: 17;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 80px; 
  }